.dashboard-container {
  text-align: center;
  margin-top: 0.5rem;
  .col {
    margin-bottom: 1.5rem;
  }
}

.card {
  background-color: var(--bg);
}

.card-title {
  font-size: 1rem;
  color: var(--title-fg);
}
.card-title > a {
  color: var(--title-fg);
}

.card-body.pool-ranking {
  padding: 1.25rem 0.25rem 0.75rem 0.25rem;
}
.card-text {
  font-size: 22px;
}

.card-text {
  font-size: 22px;
}
